<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>LoginAdmin | App</title>
</head>
<body>
    <main>
        <!--image formulaire-->
        <div class="imageLogin">
            <img src="../../public/src/ImageLogin.jpg" alt="ImageOfLogin">
        </div>
        <!--div principale-->
        <div class="form">
            <h1 class="adminColor">Login Admin</h1>
            <!--formulaire de connexion-->
            <form action="" method="post">
                <!--div pour les emails-->
                <div class="form-group email">
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email">
                </div>
                <!--div pour les password-->
                <div class="form-group password">
                    <label for="password">Password</label><br>
                    <input type="password" name="password" id="password">
                </div><br>
                <!--liens et boutons-->
                <button type="submit" class="btn-large blue">Login</button>
            </form>
        </div>
    </main>
</body>
</html>